# Basic Assingment 4

1.	Write a Python Program to Find the Factorial of a Number?

In [5]:
def fact(n):
    f = 1
    for i in range(1, n+1):
        f *= i
    return f

In [6]:
fact(3)

6

In [11]:
import math
def fact2(n):
    try:    
        print(math.factorial(n))
    except Exception as e:
        print(e)

In [13]:
fact2(3)

6

In [15]:
fact2("sdf")

an integer is required (got type str)

2.	Write a Python Program to Display the multiplication Table?

In [24]:
for i in range(1, 10):
    for j in range(1, 10):
        print('%2d' % (i * j) + ' ', end='')
    print('\r')

 1  2  3  4  5  6  7  8  9
 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

3.	Write a Python Program to Print the Fibonacci sequence?

In [31]:
def fib(n):
    a, b = 1, 1    
    for i in range(n):
        print(a, end= ' ')
        a, b = b, a+b

In [32]:
fib(5)

1 1 2 3 5

4.	Write a Python Program to Check Armstrong Number?

In [51]:
def chk_arm_num(num):    
    order = len(str(num))    
    sum_ = 0
    
    temp = num
    while temp > 0:
        digit = temp % 10        
        sum_ += digit ** order        
        temp = temp // 10
        
    if sum_ == num:        
        return 1
    else:
        return 0

In [52]:
chk_arm_num(1634)

1

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [53]:
def find_arm(start, end):    
    arm = []
    for i in range(start, end+1):
        if chk_arm_num(i):
            arm.append(i)
    return arm

In [61]:
print(find_arm(1, 100000))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

6.	Write a Python Program to Find the Sum of Natural Numbers?

In [64]:
def sum_nat1(n):
    _sum = 0
    for i in range(n+1):
        _sum += i
    return _sum

In [65]:
sum_nat1(16)

136

In [68]:
sum_nat1(20)

210

In [66]:
def sum_nat2(n):
    return (n * (n+1)/2)

In [67]:
sum_nat2(16)

136.0

In [69]:
sum_nat2(20)

210.0